.box {
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
    overflow-y: hidden;
	display: flex;
	flex-direction: row;
	
}
.plusIcon {
	float: right;
}

.contents {
	width: 100%;
	max-height: 500px;
	min-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-x: hidden;
}

.loader {
	border: 6px solid #f3f3f3; /* Light grey */
	border-top: 6px solid rgb(166, 219, 226);  ; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	align-items: center;
	justify-content: center;
	margin: auto;
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.list {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-bottom: 1px solid white;
	font-size: medium;
}

.description {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: small;
}

.reminderUnit{
	border: 1px solid black;
	border-radius: 1%;
	margin-bottom: 1%;
	width: 100%;
	background: rgb(216, 216, 216);
}

.contents::-webkit-scrollbar-track {
	border-radius: 10px;
}

.contents::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
	background: transparent;
}

.contents::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-contents-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(59, 59, 59);
}
